.commentBox{
    border-radius: 5px;
    /* width: 35vw; */
    width: 100%;
    height: 25vh;
    box-shadow: 0px 1px 4px 1px gray;
    margin-top: 2%;
}

.comments{
    width: 100%;
    height: 80%;
    border-radius: 5px;
    background-color: rgb(233, 232, 232);
    overflow: scroll;
    overflow-x: hidden;

}

.comment{
    width: 100%;
    height: fit-content;
    margin-bottom: 1%;
    background-color:rgb(245, 243, 243);
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
    padding: 5px;
}

.writer{
    margin-bottom: 3%;
    font-weight: bold;
    font-size: small;
}

.commentText{
    padding-left: 2%;
    font-size: smaller;
}

.commentWrite{
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: white;
}


.commentInput{
    box-shadow: 0px 0px 1px 1px gray;
    height: 100%;
    width: 90%;
    border-radius: 5px;
    padding-left: 3%;
    border: 0;
	border-style: none;
	outline-width: 0;
    float: left;
}

.commentSend{
    box-shadow: 0px 0px 1px 1px gray;
    background-color: rgb(110, 110, 110);
    color: white;
    text-align: center;
    height: 100%;
    width: 10%;
    border-radius: 5px;
    float: left;
    padding: 7px;
    cursor: pointer;
}

.btnName{
    margin: auto;
    font-size: small;
    vertical-align: middle;
    user-select: none;
}



.comments::-webkit-scrollbar {
    width: 10px;
}
.comments::-webkit-scrollbar-track {
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
}
.comments::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    background-color: rgb(121, 120, 120);
    border-radius: 5px;
}
