.container{
    position: relative;
}

.card{
    position: relative;
    cursor: pointer;
    width: 200px;
    height: 280px;
    background: #faf8f8;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    margin: 5px;
    border: solid #80817e 2px;
}

.card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
    clip-path: circle(100px at 100% 0%);
    transition: 0.5s ease-in-out;
}

.card:hover:before{
    clip-path: circle(300px at 80% -20%);
}

.card:after{

    position: absolute;
    top: 30%;
    left: -20%;
    text-align: center;
    font-size: 10em;
    font-weight: 300;
    font-style: italic;
    color: rgba(255,255,25,0.05)
}

.titlebox{
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    /* z-index: 10000; */
    width: 100%;
    height: 220px;
    transition: 1.2s;
    text-align: center;

}


.card:hover .titlebox{
    top: 0%;
    transform: translateY(0px);
    transition: 0.5s;
}


.contentBox{
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: space-between;
    /* z-index: -1; */
}

.card:hover .contentBox{
}


.projectlink{
    display: block;
    width: 48%;
    margin: auto;
    padding: 6px 15px;
    background: #fff;
    border-radius: 5px;
    margin-top: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: #111;
    opacity: 0;
    transform: translateY(300px);
    transition: 0.5s;
    border: solid #80817e 2px;
    height: fit-content;
    z-index: 2000;
    cursor: pointer;
    user-select: none;
}

.card:hover .projectlink{
    opacity: 1;
    transform: translateY(210px);
    transition-delay: 0.25s;

  }

.title{
    margin-top: 35%;
    user-select: none;
    font-size: 20px;
    margin-bottom: 5px;
}

.leader{
    user-select: none;
    font-size: 14px;
}

.memberCount{
  top: 15px;
  position: relative;
  margin: 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  color: #000;
  padding: 7px;
  background: rgb(220, 242, 254);
}
